footer {
    
    background-color: grey;
    padding-top: 10px;
    width: 100%;
}

footer * {
    color: white;
    background-color: grey; 
}

.footer {
    margin: 0% 10%;
}

.footer2 {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid white;
}

.footer2>div:last-child {
    margin-left: auto;
}

.footer img {
    padding-bottom: 10px;
}