

* {
    font-family: "Inter", sans-serif;
    
            
            -webkit-font-smoothing:antialiased;
        }




h3 {
    text-align: center;
    margin-bottom:40px;
    font-size: 40px;
    
}

footer * {
    color: white; 
}

footer {
    height: 150px;
    
    bottom: 0;
    background-color: grey;
    padding-top: 10px;
    width: 100%;
}

.footer {
   
    margin: 0% 10%;
}

.blank-footer{
     height: 10px;
}

body {
    z-index: 1;
}

.footer2{
    display:flex;
    padding-top: 20px;
    
    border-top: 1px solid white;
}

.footer2>div:last-child{
    margin-left: auto;
}




.mapas {
    display: inline-block;
    width: 80%;
    
    margin-bottom: 10px;
    padding: 50px;
}

.texto {
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.mapaotexto {
    display: flex;
    width: 25%;
    float: left; 
    justify-content: center; 
    align-items: center; 
}

.mapablank {
    height: 100px;
}

.mapastitulos {
    font-size: 25px;
}

.fondoazul {
    
    padding-top: 50px;
    background-color: rgb(241 255 254);
    z-index:0;
}

.footer img {
    padding-bottom: 10px;
}

.social-media img {
    width:20px;
    margin-right: 10px;
}

.b {
    font-style: bold !important;
}



.paginaactual{
    text-decoration: underline;
    
}


body{
    max-width:fit-content
}



.slider-frame {
	width: 400px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 400px;
	list-style: none;
}

.slider-frame img {
	width: 400px;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.slider-frame:hover{
transform: scale(1.4); 
transition: transform 0.5s ease-in-out;

}


.especialidad-item{
float: left;
width: 30%;  
padding: 10px;

text-align: center;

}

.especialidad-item img{
    display: inline-block;
    
    background-color: aquamarine;
    border-radius: 100%;
    
    
    
}

.especialidad-item p{text-align: center;
    padding: 0 10%;
}
.esp {
    display: inline-block;
    width: 80%;
    height:auto;
    margin: 0 15%;
    
    margin-top:40px;
    
  
}

@media (max-width: 768px) {
    .especialidad-item, .mapaotexto {
      
      float: none;
      display: block;
      text-align: center;
     
      padding: auto;
    }
  
    .esp {
      margin: 0 auto;
      width: 90%;
    }
  
    .slider-frame, .slider-frame img {
      width: 100%;
      max-width: 100%;
    }
  }


  @media (max-width: 1024px) {
    .especialidad-item, .mapaotexto {
      width: 100%; /* Ajusta según sea necesario para dar más espacio al texto */
      float: none;
      display: block;
      padding: 10px; /* Asegúrate de que el padding no sea demasiado grande */
    }
    
    .especialidad-item p {
      padding: 0 5%; /* Ajusta el padding para permitir más espacio al texto */
    }
  }


  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}
